@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue&display=swap');

*,
html {
    margin: 0;
    padding: 0;
    font-family: 'Epilogue', sans-serif;
    scroll-behavior: smooth;
}

body {
    transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: aliceblue;
    height: 100%;
    width: 100%;
}

.body2 {
    transition: background-color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-color: rgb(47, 42, 42);
    width: 100%;
    height: 100%;
    color: aliceblue;
}

body::-webkit-scrollbar {
    width: 10px;
    height: 0px;
    background-color: rgb(181, 185, 189);
}

body::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

body::-webkit-scrollbar-thumb {
    background: grey;
}

.container {
    position: fixed;
    backdrop-filter: blur(20px);
    align-items: center;
    border-color: gray;
    height: 40px;
    width: 100%;
    top: 0;
    /* box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2); */
    z-index: 4;
    border-bottom: solid 1px gray;
}

.bg--nav {
    height: 42px;
    background-color: gray;
    width: 100%;
}

.bg {

    background-color: gray;
    height: 40px;
    width: 100%;
    opacity: 80%;
    position: fixed
}

li {
    list-style: none;
}

.text {
    margin-top: 4.5px;
    position: relative;
    font-size: 0.8em;
}

.toggle {
    position: absolute;
    opacity: 0%;
    margin-top: 5px;
    margin-right: 5px;
    transform: translate(15px);
    border: none;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: rgb(47, 42, 42);
    cursor: pointer;
    color: aliceblue;
}

#berandanav, #sosialnav, #infonav {
    color: aliceblue;
    text-decoration: none;
    text-shadow: 0 0 3px gray, 0 0 5px gray;
    font-family: 'Poppins', sans-serif;
}

.text:hover {
    filter: brightness(50%);
    transition: ease-in 0.3s;
}

.style {
    align-items: center;
    position: relative;
    display: flex;
    gap: 30px;
    padding-right: 5px;
}

.logo {
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin-top: 4.5px;
    opacity: 90%;
    margin-left: 15px;
    /* border: 1px solid gray; */
    border-radius: 5px;
    height: 30px;
    width: 30px;
    background-repeat: no-repeat;
    background-image: url(https://riztranslation.dee.al/assets/Icon/rizlogo.svg);
    background-size: cover;
}

.main {
    display: grid;
    padding: 5px;
    grid-template-areas:
        'header detail'
        'midle midle'
        'footer footer';
    color: rgb(56, 48, 48);
}

.main2 {
    display: grid;
    padding: 5px;
    grid-template-areas:
        'header detail'
        'midle midle'
        'footer footer';
    color: aliceblue;
}

.sampul {
    margin: 10px;
    grid-area: header;
}

.sampul img {
    height: 300px;
    border-radius: 5px;

}

.detail {
    margin: 5px;
    grid-area: detail;
}

.detail h3, h5 {
    color: inherit;
    margin: inherit;
    font-family: 'Poppins', sans-serif;
}

h3 {
    font-weight: 700;
}

h5 {
    border-bottom: 1px solid rgb(194, 203, 210);
    height: 20px;
    font-weight: 300;
}

.detail a {
    display: inline-block;
    font-size: 10px;
    color: aliceblue;
    background-color: gray;
    text-decoration: none;
    height: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 3px;
}

.status {
    display: inline-block;
    font-size: 10px;
    color: inherit;
    text-decoration: none;
    height: 15px;
    text-align: center;
    margin: 3px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.detail section {
    margin-top: 10px;
}

.deskripsi p {
    font-size: 0.8em;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 1.3em;
    overflow: scroll;
    width: 95%;
    height: 130px;
    transform: translate(-5px);
    color: inherit;
    font-family: 'Poppins', sans-serif;
}

.deskripsi p::-webkit-scrollbar {
    width: 2px;
    height: 0px;
    opacity: 50%;
}

.deskripsi p::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

.deskripsi p::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.deskripsi {
    margin: 10px;
    height: 70px;
    width: 100%;
}

.header {
    transition: color 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    color: inherit;
    height: 25px;
    border-bottom: 1px solid rgb(194, 203, 210);
}

.chapterframe {
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(194, 203, 210);
}

.chapter {
    grid-area: midle;
    color: gray;
}

.chapter2 {
    grid-area: midle;
    color: aliceblue;
}

a {
    text-decoration: none;
}

.list {
    display: grid;
    margin: 10px;
    cursor: pointer;
    height: 150px;
    overflow: scroll;
    padding: 5px;
}

.list::-webkit-scrollbar {
    width: 2px;
    height: 0px;
    opacity: 50%;
}

.list::-webkit-scrollbar-track {
    box-shadow: inset aliceblue;
}

.list::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
}

.list a {
    border-left: 3px solid #5c5c5c;
    color: inherit;
    font-family: 'Poppins', sans-serif;
    font-size: smaller;
    margin: 2.5px;
    display: block;
    width: 99%;
    padding: 2.5px;
}

.list a:hover {
    transition: 0.5s;
    background-color: rgb(194, 203, 210);
}

.list p {
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    width: 99%;
    transform: translateY(-15%);
    margin-left: 5px;
    z-index: 2;
    display: absolute;
}

.info {
    width: 100%;
    background-color: gray;
}

.deskripsifoot {
    width: 100%;
    color: aliceblue;
    margin-top: 10px;
    position: relative;
    line-height: 1.6;
    font-size: smaller;
    width: 80%;
    text-align: center;
    text-justify: center;
}

.sosmed {
    margin: 5px;
    height: 30px;
    border-bottom: 1px solid aliceblue;
}

.headerinfo {
    margin: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: light;
    color: gray;
    height: 25px;
}

.sosmed {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 15px;
}

.sosmed a {
    margin-top: 5px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    font-size: small;
}

.sosmed a:hover {
    color: #5c5c5c;
    font-size: small;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.power p {
    font-size: small;
    font-family: 'Poppins', sans-serif;
}

.bawah {
    align-content: center;
    justify-content: center;
    display: flex;
    gap: 10px;
    border-top: 1px solid aliceblue;
    margin: 5px;
}

.bawah>p {
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    position: relative;
    line-height: 1.6;
    font-size: 0.9em;
    font-size: smaller;
}

.komen--btn {
    font-family: 'poppins', sans-serif;
    cursor: pointer;
    border-radius: 3px;
    background-color: inherit;
    border: solid 1px gray;
    display: inline-block;
    height: 30px;
    width: 100px;
    color: inherit;
}
#komentar{
    animation: fadeIn 0.5s;
}
.komen{
    display: none;
}
#kolom{
    margin: 10px;
    background-color: gray;
    border-radius: 3px;
    padding:10px;
    animation: fadeIn 0.5s;
}
.bungkus--btn{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.search {
    background: transparent;
    border: none;
    border-bottom: solid 1px aliceblue;
    height: 20px;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.search::placeholder {
    color: aliceblue;
}

.search:focus::placeholder {
    color: rgb(167, 170, 173);
    transition: color 0.6s linear;
}

.search:focus {
    transition: border-bottom 0.6s linear;
    outline: none;
    border-bottom: solid 1px rgb(167, 170, 173);
}

input::-webkit-calendar-picker-indicator {
    opacity: 0%;
}

/* chapter */
.bungkus {
    /* display: grid;
    grid-template-areas:
        'kiri kanan'
        'kiri kanan'
        'kiri kanan'; */
    display: flex;
    flex-direction: row;
    }
.logo--{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 10px;
    padding:10px;
    margin: 5px;
    margin-top: 10px;
}
.logo--style{
    display: flex;
    height: 20px;
    align-items: center;
    gap: 10px;
    padding:10px;
    margin: 5px;
    background-color: gray;
    filter: invert(85%);
}
.logo--style:hover{
    background-color: rgba(128, 128, 128, 0.183);
}
.logo-- h3{
    font-family: 'Poppins', sans-serif;
    opacity: 85%;
    font-size: small;
    transition: 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.grid {
    height: 100vh;
    background-color: inherit;
}

.kiri {
    grid-area: kiri;
    width: 30%;
    background-color: inherit;
    position: sticky;
    border-right: 1px solid gray;
}
.kanan {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: kanan;
    border: solid 1zpx gray;
    width: 170%;
    flex-direction: column;
}

.ch {
    height: inherit;
    width: inherit;
}
.ch--style{
    border-top: 1px solid gray;
    transition: filter 3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.logos{
    display: flex;
    align-items:center;
}
.logos p{
    color: gray;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}
.sebelumnya{
    transform: rotate(180deg);
}
.iframech{
    display:none;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(20px);
    padding: 8px;
    border: 1px solid gray;
}
.logos2{
    display:none;
}
.listch{
    filter: invert(80%);
}

/* end chapter */
@media only screen and (max-width: 700px) {
    .main {
        grid-template-areas:
            'header'
            'midle'
            'footer';
    }

    .detail {
        grid-area: midle;
    }

    .chapter {
        grid-area: footer;
    }

    .header {
        margin-top: 50px;
    }

    .search {
        width: 50%;
    }
    .kiri{
        width: 15%;
    }
    .kanan{
        width: 200%;
    }
    .logo-- h3{
        display: none;
    }
    .ch--isi{
        display: none;
    }
    .logos p{
        display: none;
    }
}