*, html, body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    overflow: hidden;
}

.bungkus {
    display: grid;
    grid-template-areas:
        'kiri tengah kanan'
        'kiri tengah kanan'
        'kiri tengah kanan';
}
.grid{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
.kiri{
    grid-area: kiri;
    border: solid 1px gray;

}
.tengah{
    grid-area: tengah;
    border: solid 1px gray;
}
.kanan{
    grid-area: kanan;
    border: solid 1px gray;
}
.ch{
    height: inherit;
    width: inherit;
}